*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}
section{
    display: flex;
    overflow: hidden;
}
main{
    width: 100%;
}
article{
    padding: 0px 20px;
}
footer{
    background-color: rgb(153, 153, 153);
    padding: 10px;
    padding-bottom: 40px;
    margin-top: auto;
}
header{
    background-image: url(https://i.stack.imgur.com/BO7J7.png);
    background-size: 100% 100%;
    box-shadow: 1px 1px 30px #000;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: auto;
}
header h2{
    padding-top: 20px;
    overflow: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 15px 5px;
    overflow: hidden;
}
.language{
    margin: 10px 10px;
    padding: 5px;
    border-radius: 25px;
}
.blue{
    color: rgb(27, 126, 255);
}
@keyframes button {
    from {background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }
    to {background-color: rgb(233, 255, 37);
        color: rgb(27, 126, 255);
    }
}
a{
    text-decoration: none;
}
li a{
    background-color: rgb(224, 224, 224);
    font-family: 'Playfair Display', serif;
    border-radius: 17px;
    font-size: 25px;
    padding: 13px 25px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: small;
}
li a:hover{
    color: rgb(27, 126, 255);
    background-color: rgb(233, 255, 37);
    animation-name: button;
    animation-duration: 1s; 
}
li{
    display: inline;
}
h1{
    padding-top: 25px;
}
.contact h4{
    margin-right: 20px;
}
.content{
    overflow: hidden;
    display: flex;
}
footer img{
    height: 20px;
    border-radius: 5px;
    margin: 0px 10px;
}
aside h3{
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
}
article img{
    max-width: 100%;
    width: 300px;
    border-radius: 10px;
}