*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
}
main{
    width: 65%;
}
article{
    background-color: blueviolet;
}
aside{
    background-color: aqua;
    width: 35%;
}
footer{
    background-color: rgb(153, 153, 153);
    padding: 10px;
    padding-bottom: 40px;
    margin-top: auto;
}
header{
    background-image: url(https://i.stack.imgur.com/BO7J7.png);
    background-size: 100% 100%;
    box-shadow: 1px 1px 30px #000;
    display: flex;
    flex-direction: column;
}
ul{
    list-style: none;
    margin: 0;
    padding: 35px 10px;
}
.language{
    margin: 30px 10px;
    padding: 5px;
    background-color: rgb(214, 214, 214);
    border-radius: 25px;
}
.blue{
    color: rgb(27, 126, 255);
}
@keyframes button {
    from {background-color: rgba(0, 0, 0, 0);
        color: rgb(0, 0, 0);
    }
    to {background-color: rgb(233, 255, 37);
        color: rgb(27, 126, 255);
    }
}
a{
    text-decoration: none;
}
li a{
    background-color: rgb(224, 224, 224);
    font-family: 'Playfair Display', serif;
    border-radius: 17px;
    font-size: 25px;
    padding: 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: medium;
}
li a:hover{
    color: rgb(27, 126, 255);
    background-color: rgb(233, 255, 37);
    animation-name: button;
    animation-duration: 1s; 
}
li{
    display: inline;
}
h1{
    font-family: 'Playfair Display', serif;
    padding-top: 25px;
}
.contact h3{
    margin-bottom: auto;
}
.contact h2{
    margin-left: 20%;
}
.contact{
    max-width: 500px;
    width: auto;
    max-height: 10%;
    height: auto;
}
.wehave {
  white-space: nowrap;
  overflow: hidden;
}
.wehave br {
  display: none;
}
.wehave * {
  display: inline;
  white-space: nowrap;
}
.content{
    margin-left: 83px;
}
footer img{
    height: 20px;
}
aside h3{
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
}