*{
    margin: 0;
    padding: 0;
    border: 0;
}
hr {
 border: none; /* Убираем границу */
 background-color: rgb(0, 0, 0); /* Цвет линии */
 color: rgb(0, 0, 0); /* Цвет линии для IE6-7 */
 height: 1px; /* Толщина линии */
 margin: 15px;
}   
body{
    background-color: rgb(233, 233, 233);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
}
section{
    display: flex;
    overflow: hidden;
}
main{
    width: 100%;
}
article{
    padding: 0px 20px;
}
footer{
    background-color: rgb(153, 153, 153);
    padding: 10px;
    padding-bottom: 40px;
    margin-top: auto;
}
header{
    background-image: url(https://i.stack.imgur.com/BO7J7.png);
    background-size: 100% 100%;
    box-shadow: 1px 1px 30px #000;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: auto;
}
header h2{
    padding-top: 20px;
    overflow: hidden;
}
ul{
    list-style: none;
    margin: 0;
    padding: 15px 5px;
    overflow: hidden;
}
.language{
    margin: 10px 10px;
    padding: 5px;
}
.current{
    background-color: rgba(246, 250, 1, 0.562);
}
.current:hover{
    animation-name: current_button;
    animation-duration: 1s;
    background-color: rgb(246, 250, 1);
    color: rgb(27, 126, 255);
}
@keyframes current_button {
    from {background-color: rgba(246, 250, 1, 0.562);;
        color: rgb(0, 0, 0);
    }
    to {background-color: rgb(246, 250, 1);
        color: rgb(27, 126, 255);
    }
}
@keyframes button {
    from {background-color: rgb(224, 224, 224);
        color: rgb(0, 0, 0);
    }
    to {background-color: rgb(246, 250, 1);
        color: rgb(27, 126, 255);
    }
}
a{
    text-decoration: none;
}
li a{
    background-color: rgb(224, 224, 224);
    border-radius: 14px;
    font-size: 25px;
    padding: 10px 20px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-size: small;
}
.button:hover{
    color: rgb(27, 126, 255);
    background-color: rgb(246, 250, 1);
    animation-name: button;
    animation-duration: 1s; 
}
li{
    display: inline;
}
h1{
    padding-top: 25px;
}
.brd{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.content h5{
    margin-right: 10px;
}
.kontakt, .donate{
    margin-top: 15px;
    overflow: hidden;
    display: flex;
}
.donate{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.donate h5{
    font-family: 'Playfair Display', serif;
}
.donate h6{
    margin-top: 4px;
}
footer img{
    height: 20px;
    border-radius: 5px;
    margin: 0px 5px;
}
aside h3{
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
}
article img{
    margin: 10px;
    max-width: 100%;
    width: 600px;
    border-radius: 10px;
}
.typeofdonation{
    margin-top: 10px;
}